/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.calc_width {
  inline-size: var(--page-width);
  min-inline-size: 320px;
  margin-inline: auto;
}

.page {
  font-family: var(--main-font), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--page-bg-image);
  background-attachment: fixed;
  margin: auto;
  font-variation-settings: "wght" var(--main-font-weight);
}

.header {
  padding: var(--header-padding);
  margin-block: var(--header-margin-block);
  background-color: var(--main-bg-color);
  font-family: var(--accent-font), sans-serif;
  border: 2px #000 solid;
  text-align: center;
}

.header__title {
  font-size: var(--header-title-font-size);
  margin-block-end: var(--header-title-margin-block-end);
}

.header__descr {
  font-size: var(--header-descr-font-size);
  text-transform: uppercase;
}

.card {
  background-color: var(--main-bg-color);
  border: 2px #000 solid;
  min-inline-size: min-content;
}

.content__cards-list-item:not(:last-of-type) {
  margin-block-end: var(--card-margin-block-end);
}

.card__title {
  font-size: var(--card-font-size);
  font-variation-settings: "wght" var(--card-title-font-weight);
  padding: 3.5px 10px 5.5px;
  line-height: 1.21;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: var(--card-content-padding);
}

.card__content-buttons {
  align-self: end;
  display: flex;
  align-items: end;
  gap: 4px;
}
.card__paragraph {
  line-height: 21px;
  font-size: var(--card-font-size);
}

.card__paragraph:not(:last-of-type) {
  margin-block-end: var(--card-paragraph-margin-block-end);
}

.card__image {
  position: relative;
  border-block: 2px #000 solid;
  inline-size: 100%;
  block-size: var(--page-width);
}

.card__image img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: right;
}

.card__image-filter1 {
  filter: blur(0.2rem) sepia(80%);
}

.card__image-filter2 {
  filter: opacity(0.2) blur(5px);
}

.card__image-filter3 {
  filter: brightness(10) grayscale(1);
}

.card__image-filter4 {
  filter: hue-rotate(30deg) invert(0.8);
}

.card__image-filter5 {
  filter: invert(0.8) saturate(160%);
}

.card__image-filter6 {
  filter: hue-rotate(300deg);
}

.card__image-filter7 {
  filter: invert(0.8) sepia(48%);
}

.card__image-filter8 {
  filter: opacity(0.3) grayscale(0.9);
}

.card__label {
  position: absolute;
  top: 23px;
  right: 11px;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.button {
  background-color: transparent;
  border: 2px #000 solid;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  scale: 0 1;
  background-color: #000;
  transition: scale 0.5s ease-in-out;
  transform-origin: left;
  z-index: 0;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  text-transform: capitalize;
}

.card__icon-button {
  justify-self: end;
  background-color: transparent;
  cursor: pointer;
  border: 2px transparent solid;
  block-size: 38px;
  padding: 0;
}

.button-save {
  display: block;
  inline-size: var(--save-button-inline-size);
  padding: 15px 17px;
  margin-block: 50px 100px;
  margin-inline: auto;
  background-color: var(--main-bg-color);
}

.button-save__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.button-save__content svg {
  inline-size: 28px;
  block-size: 28px;
  fill: #fff;
}

.dialog__content-svg-wrapper {
  inline-size: 39px;
}

.dialog__content-svg {
  inline-size: 39px;
  align-self: center;
  fill: #000;
}

#save-dialog[open] {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border: 2px #000 solid;
}

#save-dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

#save-dialog[open] .dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__content-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
}

.dialog__button {
  inline-size: 100%;
  padding: 12.5px;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .card__title {
    padding: 5px 10px 4px;
  }

  .card__label {
    top: 25px;
    right: 25px;
  }
  .button-save__content {
    flex-direction: row;
  }

  .button-save__content svg {
    inline-size: 21px;
    block-size: 21px;
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px #000;
}

.button:hover::after {
  scale: 1 1;
}

.core {
  transition: fill 0.3s 0s;
  transform-origin: center;
}

.main-body {
  transform-origin: center;
  transition: fill 0.3s 0.05s;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
}

.like-icon:active .core {
  fill: var(--heart-main-color);
}

.like-icon:active .main-body {
  fill: var(--heart-main-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-main-color);
}

.card__icon-button.is-liked .main-body {
  fill: var(--heart-main-color);
}

.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
  transform-origin: center;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-color);
  animation: like-scale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-color);
  animation: like-scale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color);
  animation: like-scale 0.3s ease-in 0.1s 1;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: like-sparks 0.3s ease-in 0.3s 1;
}
